---
import ThemeSwitch from "@components/ThemeSwitch.astro";
import Links from "./Links.astro";
---

<nav-menu transition:persist class="flex flex-col overflow-y-scroll flex-shrink-0">
	<div class="mobile-only">bars to close</div>
	<div class="desktop-only">logo + 
		<ThemeSwitch />
	</div>
	search
	<Links />
</nav-menu>

<script>
	let firstRun = true;
	requestAnimationFrame(() => (firstRun = false));
	class Menu extends HTMLElement {
		scrollPos = 0;

		constructor() {
			super();
			if (!firstRun) return;
			document.addEventListener("astro:before-swap", () => (this.scrollPos = this.scrollTop));
			document.addEventListener("astro:after-swap", () => this.scrollTo({ top: this.scrollPos, behavior: "instant" }));
		}
	}
	customElements.define("nav-menu", Menu);
</script>

