---
import Caret from "@components/icons/Caret.astro";

interface Props {
	parentSlug: string;
	slug: string;
	text: string;
	depth?: number;
	first?: boolean;
}

const { parentSlug, slug, text, first, depth = 1 } = Astro.props;
---

<sub-link
	data-first={first}
	data-slug={"#" + slug}
	class="flex flex-row items-center text-sm font-medium rounded-md"
	style={`margin-left: ${10 + 5 * depth}px`}
>
	<Caret class="caret" />
	<a class="px-2 py-1" href={`/${parentSlug}/#${slug}`}>
		{text}
	</a>
</sub-link>

<script>
	import { createSelector, hash } from "src/nano";
	let firstRun = true;
	requestAnimationFrame(() => (firstRun = false));
	const hashSelector = createSelector(hash);

	class Sublink extends HTMLElement {
		constructor() {
			super();
			if (!firstRun) return; // second run => navigate, but since we persist navigation element we dont want to run setup just for the component ot be replaced
			const l = (v: boolean) => {
				this.toggleAttribute("selected", v);
			};
			hashSelector(this.dataset.slug!, l);
			if (typeof this.dataset.first === "string") hashSelector("", l);
		}
	}

	customElements.define("sub-link", Sublink);
</script>

<style>
	sub-link .caret {
		opacity: 0;
		width: 8px;
		height: 8px;
		flex-shrink: 0;
		margin-right: 8px;
	}
	sub-link {
		color: rgb(106 116 128);
	}
</style>

<style is:global>
	collapsible-link[selected] sub-link[selected] {
		color: white;
	}

	html[data-theme="light"] collapsible-link[selected] sub-link[selected] {
		color: black;
	}

	collapsible-link[selected] sub-link[selected] .caret {
		opacity: 1;
	}
</style>
