---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"table"> {}

const { class: className, ...props } = Astro.props;
---

<div class="max-w-full overflow-auto">
	<table class:list={["align-middle w-full break-words text-sm rounded-md border-collapse overflow-hidden", className]} {...props}>
		<slot />
	</table>
</div>
