---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"td"> {}

const { class: className, ...props } = Astro.props;
---

<td class:list={["p-2 px-3 max-w-xs", className]} {...props}>
	<slot />
</td>
