---
import HyperlinkIcon from "../../icons/Hyperlink.astro";
interface Props {
	level: 1 | 2 | 3 | 4 | 5 | 6;
	class?: string;
	id?: string;
}

const { level, class: className, id } = Astro.props;

const H = `h${level}` as const;
---

<a class="group" href={id ? `#${id}` : undefined}>
	<H
		id={id}
		class:list={[
			className || "",
			"flex flex-row items-center",
			[
				"not:first-of-type:mt-2 mb-2 mt-3 text-4xl font-bold leading-tight sm:leading-loose",
				"mb-4 mt-6 text-2xl font-semibold leading-relaxed",
				"mb-2 mt-6 text-xl font-medium leading-normal",
				"mb-2 mt-4 text-lg font-medium leading-normal",
				"mb-4 mt-6 text-base font-medium leading-normal",
				"mb-4 mt-6 text-base font-medium leading-normal",
			][level - 1],
		]}
	>
		<slot />
		<HyperlinkIcon class="min-w-4 min-h-4 md:group-hover:inline-flex ml-2 w-4 h-4 motion-safe:animate-fade-in-out md:hidden" />
	</H>
</a>
