.alert p {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  background: rgba(88,101,242,.1);
  border: 2px solid rgba(88,101,242,.5);
}
