/**
 * Github Copilot theme for Prism.js
 * Based on Github: https://copilot.github.com
 * and Discord: https://discord.com/developers/docs
 * modified from https://github.com/katorlys/prism-theme-github
 * @author Katorly
 * @author Splatterxl
 */

/* General */

:root {
  --prism-background: #f9f9f9;
  --prism-foreground: #000000;

  /* Add / Delete / Highlight modifiers */
  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight: rgba(243, 249, 157, 0.2);
}

[data-theme="dark"] code,
[data-theme="dark"] pre {
  --prism-background: #1e1f22;
  --prism-foreground: #ffffff;

  /* Add / Delete / Highlight modifiers */
  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight-background: rgba(243, 249, 157, 0.2);
}

pre[class*="language-"],
code[class*="language-"] {
  background: var(--prism-background);
  text-shadow: none;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
  /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-radius: 0.275rem;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
/* Line highlighting */
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #27384e;
  box-shadow: inset 5px 0 0 #1f6fea;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* Tokens */
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8b949e;
  font-style: normal;
}
.token.punctuation {
  color: var(--prism-foreground);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #78bffe;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a5d6ff;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #79bffe;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ff7b72;
}
.token.function {
  color: #d2a8ff;
}
.token.regex,
.token.important,
.token.variable {
  color: #fea557;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
