.code-block pre .line_number {
  color: var(--prism-comment);
}

.code-block pre .line_content.break-words {
  white-space: break-spaces;
  width: 95%;
}

code {
  --prism-color: #282a36;
  --prism-background: #fafafb;
  --prism-keyword: #f944ad;
  --prism-variable: #e64228;
  --prism-function: #f944ad;

  --prism-comment: #86869a;
  --prism-string: #374db5;
  --prism-attribute: #f3f99d;

  /* Add / Delete / Highlight modifiers */
  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight: rgba(243, 249, 157, 0.2);
}

.dark code {
  --prism-color: #eff0eb;

  --prism-background: #282a36;
  --prism-comment: #97979b;
  --prism-keyword: #ff5c57;
  --prism-function: #57c7ff;
  --prism-string: #5af78e;
  --prism-attribute: #f3f99d;
  --prism-variable: #ff6ac1;

  /* Add / Delete / Highlight modifiers */
  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight-background: rgba(243, 249, 157, 0.2);
}

code[class*="language-"],
pre[class*="language-"],
pre[class*="language-"] code {
  color: var(--prism-color) !important;
  background: var(--prism-background);
  font-variant: no-common-ligatures no-discretionary-ligatures
    no-historical-ligatures no-contextual;
  tab-size: 4;
  hyphens: none;
}

/* Prism Styles */
.token.operator,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment) !important;
  font-style: normal;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.type-args,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prism-variable) !important;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--prism-attribute) !important;
}

.token.string,
.token.tag.attr-value,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--prism-string) !important;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prism-keyword) !important;
}

.token.function,
.token.class-name,
.token[class*="class-name"],
.token.boolean {
  color: var(--prism-function) !important;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--prism-variable) !important;
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}
