/**
 * Github Copilot theme for Prism.js
 * Based on Github: https://copilot.github.com
 * and Discord: https://discord.com/developers/docs
 * modified from https://github.com/katorlys/prism-theme-github
 * @author Katorly
 * @author Splatterxl
 */

/* General */

:root {
  --prism-background: #f6f8fa;
  --prism-foreground: #24292f;
  --prism-selection: #9fc6e9;
  --prism-inline-background: #eff1f3;
  --prism-line-highlight-bg: #fff8c5;
  --prism-line-highlight-shadow: #eed888;
  --prism-comment: #6e7781;
  --prism-punctuation: #24292f;
  --prism-property: #0550ae;
  --prism-selector: #0a3069;
  --prism-operator: #0550ae;
  --prism-atrule: #cf222e;
  --prism-function: #8250df;
  --prism-regex: #0a3069;

  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight: rgba(243, 249, 157, 0.2);
}

[data-theme="dark"],
html.amoled {
  --prism-background: #232428;
  --prism-foreground: #ffffff;
  --prism-selection: #27384e;
  --prism-inline-background: #23272e;
  --prism-line-highlight-bg: #27384e;
  --prism-line-highlight-shadow: #1f6fea;
  --prism-comment: #8b949e;
  --prism-punctuation: #ffffff;
  --prism-property: #78bffe;
  --prism-selector: #a5d6ff;
  --prism-operator: #79bffe;
  --prism-atrule: #ff7b72;
  --prism-function: #d2a8ff;
  --prism-regex: #fea557;

  --prism-highlight-add: rgba(90, 247, 142, 0.2);
  --prism-highlight-delete: rgba(255, 92, 87, 0.2);
  --prism-highlight: rgba(243, 249, 157, 0.2);
}

html.amoled {
  --prism-background: #111111;
  --prism-inline-background: #111111;
}

pre[class*="language-"],
code[class*="language-"] {
  color: var(--prism-foreground);
  text-shadow: none;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
  /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--prism-background);
  border-radius: 0.275rem;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
/* Line highlighting */
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: var(--prism-line-highlight-bg);
  box-shadow: inset 5px 0 0 var(--prism-line-highlight-shadow);
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
/* Tokens */
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment);
}
.token.punctuation {
  color: var(--prism-punctuation);
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prism-property);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--prism-selector);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--prism-operator);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prism-atrule);
}
.token.function {
  color: var(--prism-function);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--prism-regex);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
