* {
  --text-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

abbr[title].no-underline {
  text-decoration: none;
}

body {
  font-family: "Whitney Medium", var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Whitney Semibold Regular", var(--text-base);
}

code * {
  @apply text-sm;
}

i,
em {
  font-family: "Whitney Medium Italic", var(--text-base);
  font-style: normal;
}

#searchContainer .DocSearch-Button {
  width: 100%;
  border-radius: .75rem;
  padding-left: .7em;
  margin: 0;
  margin-bottom: 1rem;
}

#searchContainer > button > span.DocSearch-Button-Container > svg {
    width: 1rem;
    height: 1rem;
}
