* {
  --text-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

abbr[title].no-underline {
  text-decoration: none;
}

body {
  font-family: "Whitney Medium", var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Whitney Semibold Regular", var(--text-base);
}

code * {
  @apply text-sm;
}

i,
em {
  font-family: "Whitney Medium Italic", var(--text-base);
  font-style: normal;
}
