* {
  --text-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

abbr[title].no-underline {
  text-decoration: none;
}

body {
  font-family: "Whitney Medium", var(--text-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: "Whitney Semibold Regular", var(--text-base);
}

code * {
  @apply text-sm;
}

i,
em {
  font-family: "Whitney Medium Italic", var(--text-base);
  font-style: normal;
}

#searchContainer .DocSearch-Button {
  width: 100%;
  border-radius: 0.75rem;
  padding-left: 0.7em;
  margin: 0 0 1rem;
  color: inherit;
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: white;
}

.DocSearch-Button-Container > svg {
  width: 1em;
  height: 1em;
}

[type="search"] {
  background-color: initial;
}

[type="search"]:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

@media (max-width: 768px) {
  #searchContainer .DocSearch-Button-Placeholder {
    display: initial;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--docsearch-placeholder-color);
  }
}

/* add table-row-background-secondary-dark to the search bar */
/* !!! UPDATE THIS IF CHANGING THEME COLOURS !!! */
[data-theme="dark"] #searchContainer .DocSearch-Button {
  background-color: #323339;
}

[data-headlessui-portal] > div > div {
  z-index: 9999;
}

[data-headlessui-portal] h2 {
  @apply mt-2;
}

datalist {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}
