@tailwind base;
@tailwind components;
@tailwind utilities;

/* @responsive {
  .scroll-pt-16 {
    scroll-padding-top: 4rem;
  }

  .scroll-pt-0 {
    scroll-padding-top: 0;
  }
} */

.collapsible-icon svg {
  @apply size-6 text-icons-light dark:text-icons-dark;
}

html[data-theme="light"] {
  @apply bg-white;
}
html[data-theme="dark"] {
  @apply bg-background-dark;
}
