---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	href: string;
}

const {class: className, href, ...props} = Astro.props;
---

<a class:list={["text-brand-link hover:underline", className]} href={href} {...props}>
	<slot />
</a>
