---
import uuid4 from "uuid4";
import type { HTMLAttributes } from "astro/types";
import Copy from "@components/Copy.astro";
import CopyIcon from "@components/icons/Copy.astro";

interface Props extends HTMLAttributes<"pre"> {}

const { class: className, ...props } = Astro.props;

const language = Astro.props["data-language"];
const copyable = language !== "json";

const uniqueId = uuid4();
---

<div class="code-block relative my-3 font-mono rounded-md">
	<pre
		class:list={["relative inline-grid grid-rows-max-content m-0 mb-4 w-full leading-normal overflow-auto", className]}
		{...props}
		id={uniqueId}>
		<slot />
	</pre>

	{
		copyable && (
			<div class="group copy-button-wrapper absolute top-0 right-0 w-12 h-12">
				<div class="copy-button absolute top-2 right-2 hidden p-3 transition group-hover:block rounded-md">
					<Copy elementId={uniqueId}>
						<CopyIcon class="w-5" />
					</Copy>
				</div>
			</div>
		)
	}
</div>
