---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"p"> {}

const { class: className, ...props } = Astro.props;
---

<p class:list={["mb-4 mt-4 dark:text-text-dark text-text-light text-base leading-6", className]} {...props}>
	<slot />
</p>
