.searchbar {
  @apply ml-0 h-full w-full rounded-md py-3.5 pl-9 pr-4 focus:outline-none focus:ring-2 focus:ring-brand-blurple dark:border-[#212139] md:max-w-96;
}

.statusText {
  @apply mt-5 italic;
}

/* Error code groups */

.groupButton {
  @apply flex cursor-pointer items-center justify-start gap-2 focus:outline-none;
}

.groupIcon {
  @apply h-5 w-4 text-black transition-transform duration-200 ease-in-out dark:text-white;
}

/* Submit dialog */

.dialogLabel {
  @apply mb-2 block text-sm font-medium text-gray-700 dark:text-gray-200;
}

.dialogInput {
  @apply block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 dark:border-gray-600 dark:bg-table-row-background-secondary-dark dark:text-white;
}

.dialogText {
  @apply text-text-light/80 dark:text-text-dark/80;
}

.dialogPanel {
  @apply w-full max-w-md transform overflow-hidden rounded-md bg-white px-5 py-3 pb-6 text-left align-middle shadow-xl transition-all dark:bg-background-dark;
}
