.astro-code code {
	display: flex;
	flex-direction: column;
	counter-reset: step;
	counter-increment: step 0;
}

.astro-code .line {
	width: 100%;
}

.astro-code .line:last-child {
	display: none;
}

.astro-code .line::before {
	width: 2rem;
	padding: 0 8px;
	display: inline-block;
	text-align: right;
	color: #97979b;
}

.astro-code .line::before {
	content: " ";
	user-select: none;
}

.astro-code.line-numbers .line::before {
	content: counter(step);
	counter-increment: step;
	text-align: right;
}


.astro-code.diff .line.add::before {
	content: "+";
}

.astro-code.diff .line.remove::before {
	content: "-";
}



.astro-code.lang-terminal .line::before {
	content: "$";
}

.astro-code,
.astro-code span {
	background-color: #fafafb !important;
}

html[data-theme="dark"] .astro-code,
html[data-theme="dark"] .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.astro-code.diff .line span {
	background-color: transparent !important;
}

.astro-code.diff .line.add {
	background-color: rgba(53, 117, 42, 0.15) !important;
}

.astro-code.diff .line.remove {
	background-color: rgba(193, 34, 34, 0.15) !important;
}

.astro-code.diff .line.highlight {
	background-color: hsla(64, 88%, 88%, 0.25) !important;
}

