.astro-code code {
	display: flex;
	flex-direction: column;
	counter-reset: step;
	counter-increment: step 0;
}

.astro-code .line {
	width: 100%;
}

.astro-code .line:last-child {
	display: none;
}

.astro-code .line::before {
	width: 2rem;
	padding: 0 8px;
	display: inline-block;
	text-align: right;
	color: #97979b;
}

.astro-code.diff .line::before {
	content: " ";
	user-select: none;
}

.astro-code.line-numbers .line::before {
	content: counter(step);
	counter-increment: step;
	text-align: right;
}

.astro-code.diff .line.add {
	background-color: rgba(53, 117, 42, 0.15);
}

.astro-code.diff .line.add::before {
	content: "+";
}

.astro-code.diff .line.remove {
	background-color: rgba(193, 34, 34, 0.15);
}

.astro-code.diff .line.remove::before {
	content: "-";
}

.astro-code.diff .line.highlight {
	background-color: hsla(64, 88%, 88%, 0.15);
}

.astro-code.lang-terminal .line::before {
	content: "$";
}