---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" data-theme="dark" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<slot name="head" />
		<ViewTransitions />
		<script>
			import { browserTheme, theme, userTheme, hash, path } from "../nano";

			theme.subscribe((value) => {
				document.documentElement.dataset.theme = value;
			});

			const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
			browserTheme.set(prefersDarkScheme.matches ? "dark" : "light");
			prefersDarkScheme.addEventListener("change", (e) => {
				browserTheme.set(e.matches ? "dark" : "light");
			});

			userTheme.set((localStorage.getItem("theme") as any) ?? "system");

			document.addEventListener("astro:after-swap", () => {
				path.set(window.location.pathname);
				hash.set(window.location.hash);
			});
			window.addEventListener("popstate", () => {
				hash.set(window.location.hash);
			});
			path.set(window.location.pathname);
			hash.set(window.location.hash);
		</script>
	</head>
	<body>
		<slot name="body" />
		<slot />
	</body>
</html>
