---
import { ClientRouter } from "astro:transitions";
import "../shiki/style.css";
---

<!doctype html>
<html lang="en" data-theme="dark" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="theme-color" content="#5864F2" />
		{import.meta.env.GOOGLE_SITE_VERIFICATION && <meta name="google-site-verification" content={import.meta.env.GOOGLE_SITE_VERIFICATION} />}
		<slot name="head" />

		<ClientRouter />
		<script is:inline>
			const t = localStorage.getItem("calculatedTheme");
			if (t) document.documentElement.dataset.theme = t;
		</script>
		<script>
			import { browserTheme, theme, hash, path } from "../nano";

			document.documentElement.dataset.theme = theme.get();
			theme.listen((value) => {
				document.documentElement.dataset.theme = value;
			});
			document.addEventListener("astro:before-swap", (e) => {
				e.newDocument.documentElement.dataset.theme = theme.get();
			});

			const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
			browserTheme.set(prefersDarkScheme.matches ? "dark" : "light");
			prefersDarkScheme.addEventListener("change", (e) => {
				browserTheme.set(e.matches ? "dark" : "light");
			});

			document.addEventListener("astro:after-swap", () => {
				path.set(window.location.pathname);
				hash.set(window.location.hash || "");
			});
			window.addEventListener("popstate", () => {
				hash.set(window.location.hash || "");
			});
			path.set(window.location.pathname);
			hash.set(window.location.hash);
		</script>

		<style is:global>
			html[data-theme="dark"] {
				--theme-scrollbar-thumb: #202225;
				--theme-scrollbar-track: #2f3136;
			}

			html[data-theme="light"] {
				--theme-scrollbar-thumb: #ccc;
				--theme-scrollbar-track: #f2f2f2;
			}

			::-webkit-scrollbar {
				height: 16px;
				width: 16px;
			}

			::-webkit-scrollbar-thumb {
				background-color: var(--theme-scrollbar-thumb);
				border: 4px solid transparent;
				border-radius: 8px;
				min-height: 40px;
				background-clip: padding-box;
			}

			::-webkit-scrollbar-track {
				background-color: var(--theme-scrollbar-track);
				border: 4px solid transparent;
				border-radius: 8px;
				margin-bottom: 8px;
				background-clip: padding-box;
			}
		</style>
	</head>

	<body>
		<svg style="width: 0; height: 0">
			<defs>
				<path
					id="svg-caretfill"
					d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>

				<path
					id="svg-copy"
					d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"
				></path>

				<g id="svg-hyperlink">
					<path
						d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
					></path>
					<path
						d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
					></path>
				</g>
			</defs>
		</svg>
		<slot name="body" />
		<slot />
	</body>
</html>
