---
import Menu from "../components/Menu.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout>
	<Fragment slot="head">
		<title>{title}</title>
		<meta name="description" content={description || "secret alien description!"} />
		<slot name="head" />
	</Fragment>
	<div class="scroll-pt-16 md:scroll-pt-0 relative flex flex-1 flex-col items-center focus:outline-none overflow-y-auto">
		<Menu />
		<main class="p-4 w-full max-w-6xl sm:pb-6 sm:pt-0 sm:px-6 lg:pb-10 lg:px-10">
			<article class="m-auto mt-0 md:mt-4">
				<slot />
			</article>
		</main>
	</div>
</BaseLayout>
