---
import Menu from "@components/menu/Menu.astro";
import Header from "@components/menu/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import FadeBackground from "@components/menu/FadeBackground.astro";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout>
	<Fragment slot="head">
		<title>{title}</title>
		<meta name="description" content={description || "secret alien description!"} />
		<slot name="head" />
	</Fragment>
	<div class="flex flex-row h-screen dark:bg-background-dark bg-white overflow-hidden text-black dark:text-white">
		<FadeBackground />
		<Menu />
		<div class="flex flex-col flex-1 overflow-hidden">
			<Header />
			<div class="scroll-pt-16 md:scroll-pt-0 relative flex flex-1 flex-col items-center focus:outline-none overflow-x-hidden overflow-y-auto">
				<main class="p-4 w-full max-w-6xl sm:pb-6 sm:pt-0 sm:px-6 lg:pb-10 lg:px-10">
					<article class="m-auto mt-0 md:mt-4" transition:animate="fade">
						<slot />
					</article>
				</main>
			</div>
		</div>
	</div>
</BaseLayout>
